
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.cv {
    font-family: Roboto, Helvetica, sans-serif;
    color: #000;
    background-color: #c1c1c1;
    font-size: 14px;
    line-height: 1.5;
  }
  .cv_page {
    width: 920px;
    padding: 80px 80px 60px;
    margin: 80px auto;
    background-color: #fff;
    box-shadow: 2px 2px 1px #606060;
  }
  .cv_name{
      font-weight: 900;
      font-size: 2rem;
  }
  .cv_header{
      display: flex;
  }
  .cv_about_me{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 20px;
  }
  .cv_contacts{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* justify-content: space-between; */
  }
  .cv_contact_item{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .cv_contact_item .material-icons{
    margin-right: 5px;
    font-size: 12px;
  }
  .cv_job_title{
      color: rgb(133, 214, 11);
  }
    .cv_content{
        display: flex;
        margin-top: 20px;
    }
    .cv_panel_1{
        flex: 1;
        margin-right: 15px;
    }
.cv_panel_2{
    max-width: 250px;
    height: 200px;
}

.cv_heading{
    margin: 10px 0;
    font-size: 1.7rem;
    font-weight: 400;
    border-bottom: 2px solid #000;
}
.cv_heading_2{
    font-size: 1.2rem;  
}
.cv_heading_3{
    font-size: 1rem;  
    color: rgb(133, 214, 11);
}
.cv_heading_4{
    display: flex;
    font-size: 12px;
}
.cv_heading_icon{
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.5);
}
.cv_heading_icon .material-icons{
    font-size: 13px;
    margin-right: 3px;
  }
  .cv_normal_text{
      font-size: 12px;
  }
  .cv_list_item{
    
  }
  .cv_experience{
      padding-top: 10px;
      border-bottom: 1px dotted #ccc;
  }
  .cv_experience:last-child{
    border-bottom: 0;
}
  
  .cv_edu{
    padding: 5px 0;
    
    border-bottom: 1px dotted #ccc;
}
.cv_edu:last-child{
    border-bottom: 0;
}
.cv_skills{
    display: flex;
    flex-direction: column;
}
.cv_skills_group .cv_heading_3{
    margin-top: 10px;
}
  .cv_skill_item{
      margin-right: 10px;
      text-decoration: underline;
      font-size: 14px;
      float: left;
  }
  @media print {
    body.cv {
      background-color: #fff;
    }
    .cv_page {
      padding: 40px 80px;
      box-shadow: none;
    }
  }