:root {
  --main-bg: 7, 116, 160;
  --main-color: #0774a0;
  --sidebar-bg: rgba(7, 96, 131, 0.8);
  --error-color: #a61717;
  --btn-selection-color: #04384d;
  --btn-red-bg: #0774a0;
  --btn-red-border: #0774a0;
  --point-color: rgba(53, 2, 112, 0.8);
  --tag-color: rgba(7, 96, 131, 0.6);
}
.fa,
.fa-stack {
  display: inline-block;
}
.fa-fw,
.fa-li,
.icon {
  text-align: center;
}
.main-navigation ul,
.site-sidebar .posts-list,
.tech-icons,
.tech-tags,
.timeline > ul {
  list-style: none;
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf)
      format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)
      format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf)
      format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf)
      format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)
      format('truetype');
}
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: FontAwesome;
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0);
  src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0)
      format('embedded-opentype'),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0)
      format('woff'),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0)
      format('truetype'),
    url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: 0.08em solid #eee;
  border-radius: 0.1em;
}
hr,
legend,
td,
th {
  padding: 0;
}
img,
legend {
  border: 0;
}
.pull-right {
  float: right;
}
.dl-vertical dd,
.dl-vertical dt,
.main-navigation .navigation-extend-bar .social-icons,
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: 0.3em;
}
.fa.pull-right {
  margin-left: 0.3em;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
  filter: none;
}
.fa-stack {
  position: relative;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
.fa-glass:before {
  content: '\f000';
}
.fa-music:before {
  content: '\f001';
}
.fa-search:before {
  content: '\f002';
}
.fa-envelope-o:before {
  content: '\f003';
}
.fa-heart:before {
  content: '\f004';
}
.fa-star:before {
  content: '\f005';
}
.fa-star-o:before {
  content: '\f006';
}
.fa-user:before {
  content: '\f007';
}
.fa-film:before {
  content: '\f008';
}
.fa-th-large:before {
  content: '\f009';
}
.fa-th:before {
  content: '\f00a';
}
.fa-th-list:before {
  content: '\f00b';
}
.fa-check:before {
  content: '\f00c';
}
.fa-close:before,
.fa-remove:before,
.fa-times:before {
  content: '\f00d';
}
.fa-search-plus:before {
  content: '\f00e';
}
.fa-search-minus:before {
  content: '\f010';
}
.fa-power-off:before {
  content: '\f011';
}
.fa-signal:before {
  content: '\f012';
}
.fa-cog:before,
.fa-gear:before {
  content: '\f013';
}
.fa-trash-o:before {
  content: '\f014';
}
.fa-home:before {
  content: '\f015';
}
.fa-file-o:before {
  content: '\f016';
}
.fa-clock-o:before {
  content: '\f017';
}
.fa-road:before {
  content: '\f018';
}
.fa-download:before {
  content: '\f019';
}
.fa-arrow-circle-o-down:before {
  content: '\f01a';
}
.fa-arrow-circle-o-up:before {
  content: '\f01b';
}
.fa-inbox:before {
  content: '\f01c';
}
.fa-play-circle-o:before {
  content: '\f01d';
}
.fa-repeat:before,
.fa-rotate-right:before {
  content: '\f01e';
}
.fa-refresh:before {
  content: '\f021';
}
.fa-list-alt:before {
  content: '\f022';
}
.fa-lock:before {
  content: '\f023';
}
.fa-flag:before {
  content: '\f024';
}
.fa-headphones:before {
  content: '\f025';
}
.fa-volume-off:before {
  content: '\f026';
}
.fa-volume-down:before {
  content: '\f027';
}
.fa-volume-up:before {
  content: '\f028';
}
.fa-qrcode:before {
  content: '\f029';
}
.fa-barcode:before {
  content: '\f02a';
}
.fa-tag:before {
  content: '\f02b';
}
.fa-tags:before {
  content: '\f02c';
}
.fa-book:before {
  content: '\f02d';
}
.fa-bookmark:before {
  content: '\f02e';
}
.fa-print:before {
  content: '\f02f';
}
.fa-camera:before {
  content: '\f030';
}
.fa-font:before {
  content: '\f031';
}
.fa-bold:before {
  content: '\f032';
}
.fa-italic:before {
  content: '\f033';
}
.fa-text-height:before {
  content: '\f034';
}
.fa-text-width:before {
  content: '\f035';
}
.fa-align-left:before {
  content: '\f036';
}
.fa-align-center:before {
  content: '\f037';
}
.fa-align-right:before {
  content: '\f038';
}
.fa-align-justify:before {
  content: '\f039';
}
.fa-list:before {
  content: '\f03a';
}
.fa-dedent:before,
.fa-outdent:before {
  content: '\f03b';
}
.fa-indent:before {
  content: '\f03c';
}
.fa-video-camera:before {
  content: '\f03d';
}
.fa-image:before,
.fa-photo:before,
.fa-picture-o:before {
  content: '\f03e';
}
.fa-pencil:before {
  content: '\f040';
}
.fa-map-marker:before {
  content: '\f041';
}
.fa-adjust:before {
  content: '\f042';
}
.fa-tint:before {
  content: '\f043';
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: '\f044';
}
.fa-share-square-o:before {
  content: '\f045';
}
.fa-check-square-o:before {
  content: '\f046';
}
.fa-arrows:before {
  content: '\f047';
}
.fa-step-backward:before {
  content: '\f048';
}
.fa-fast-backward:before {
  content: '\f049';
}
.fa-backward:before {
  content: '\f04a';
}
.fa-play:before {
  content: '\f04b';
}
.fa-pause:before {
  content: '\f04c';
}
.fa-stop:before {
  content: '\f04d';
}
.fa-forward:before {
  content: '\f04e';
}
.fa-fast-forward:before {
  content: '\f050';
}
.fa-step-forward:before {
  content: '\f051';
}
.fa-eject:before {
  content: '\f052';
}
.fa-chevron-left:before {
  content: '\f053';
}
.fa-chevron-right:before {
  content: '\f054';
}
.fa-plus-circle:before {
  content: '\f055';
}
.fa-minus-circle:before {
  content: '\f056';
}
.fa-times-circle:before {
  content: '\f057';
}
.fa-check-circle:before {
  content: '\f058';
}
.fa-question-circle:before {
  content: '\f059';
}
.fa-info-circle:before {
  content: '\f05a';
}
.fa-crosshairs:before {
  content: '\f05b';
}
.fa-times-circle-o:before {
  content: '\f05c';
}
.fa-check-circle-o:before {
  content: '\f05d';
}
.fa-ban:before {
  content: '\f05e';
}
.fa-arrow-left:before {
  content: '\f060';
}
.fa-arrow-right:before {
  content: '\f061';
}
.fa-arrow-up:before {
  content: '\f062';
}
.fa-arrow-down:before {
  content: '\f063';
}
.fa-mail-forward:before,
.fa-share:before {
  content: '\f064';
}
.fa-expand:before {
  content: '\f065';
}
.fa-compress:before {
  content: '\f066';
}
.fa-plus:before {
  content: '\f067';
}
.fa-minus:before {
  content: '\f068';
}
.fa-asterisk:before {
  content: '\f069';
}
.fa-exclamation-circle:before {
  content: '\f06a';
}
.fa-gift:before {
  content: '\f06b';
}
.fa-leaf:before {
  content: '\f06c';
}
.fa-fire:before {
  content: '\f06d';
}
.fa-eye:before {
  content: '\f06e';
}
.fa-eye-slash:before {
  content: '\f070';
}
.fa-exclamation-triangle:before,
.fa-warning:before {
  content: '\f071';
}
.fa-plane:before {
  content: '\f072';
}
.fa-calendar:before {
  content: '\f073';
}
.fa-random:before {
  content: '\f074';
}
.fa-comment:before {
  content: '\f075';
}
.fa-magnet:before {
  content: '\f076';
}
.fa-chevron-up:before {
  content: '\f077';
}
.fa-chevron-down:before {
  content: '\f078';
}
.fa-retweet:before {
  content: '\f079';
}
.fa-shopping-cart:before {
  content: '\f07a';
}
.fa-folder:before {
  content: '\f07b';
}
.fa-folder-open:before {
  content: '\f07c';
}
.fa-arrows-v:before {
  content: '\f07d';
}
.fa-arrows-h:before {
  content: '\f07e';
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: '\f080';
}
.fa-twitter-square:before {
  content: '\f081';
}
.fa-facebook-square:before {
  content: '\f082';
}
.fa-camera-retro:before {
  content: '\f083';
}
.fa-key:before {
  content: '\f084';
}
.fa-cogs:before,
.fa-gears:before {
  content: '\f085';
}
.fa-comments:before {
  content: '\f086';
}
.fa-thumbs-o-up:before {
  content: '\f087';
}
.fa-thumbs-o-down:before {
  content: '\f088';
}
.fa-star-half:before {
  content: '\f089';
}
.fa-heart-o:before {
  content: '\f08a';
}
.fa-sign-out:before {
  content: '\f08b';
}
.fa-linkedin-square:before {
  content: '\f08c';
}
.fa-thumb-tack:before {
  content: '\f08d';
}
.fa-external-link:before {
  content: '\f08e';
}
.fa-sign-in:before {
  content: '\f090';
}
.fa-trophy:before {
  content: '\f091';
}
.fa-github-square:before {
  content: '\f092';
}
.fa-upload:before {
  content: '\f093';
}
.fa-lemon-o:before {
  content: '\f094';
}
.fa-phone:before {
  content: '\f095';
}
.fa-square-o:before {
  content: '\f096';
}
.fa-bookmark-o:before {
  content: '\f097';
}
.fa-phone-square:before {
  content: '\f098';
}
.fa-twitter:before {
  content: '\f099';
}
.fa-facebook:before {
  content: '\f09a';
}
.fa-github:before {
  content: '\f09b';
}
.fa-unlock:before {
  content: '\f09c';
}
.fa-credit-card:before {
  content: '\f09d';
}
.fa-rss:before {
  content: '\f09e';
}
.fa-hdd-o:before {
  content: '\f0a0';
}
.fa-bullhorn:before {
  content: '\f0a1';
}
.fa-bell:before {
  content: '\f0f3';
}
.fa-certificate:before {
  content: '\f0a3';
}
.fa-hand-o-right:before {
  content: '\f0a4';
}
.fa-hand-o-left:before {
  content: '\f0a5';
}
.fa-hand-o-up:before {
  content: '\f0a6';
}
.fa-hand-o-down:before {
  content: '\f0a7';
}
.fa-arrow-circle-left:before {
  content: '\f0a8';
}
.fa-arrow-circle-right:before {
  content: '\f0a9';
}
.fa-arrow-circle-up:before {
  content: '\f0aa';
}
.fa-arrow-circle-down:before {
  content: '\f0ab';
}
.fa-globe:before {
  content: '\f0ac';
}
.fa-wrench:before {
  content: '\f0ad';
}
.fa-tasks:before {
  content: '\f0ae';
}
.fa-filter:before {
  content: '\f0b0';
}
.fa-briefcase:before {
  content: '\f0b1';
}
.fa-arrows-alt:before {
  content: '\f0b2';
}
.fa-group:before,
.fa-users:before {
  content: '\f0c0';
}
.fa-chain:before,
.fa-link:before {
  content: '\f0c1';
}
.fa-cloud:before {
  content: '\f0c2';
}
.fa-flask:before {
  content: '\f0c3';
}
.fa-cut:before,
.fa-scissors:before {
  content: '\f0c4';
}
.fa-copy:before,
.fa-files-o:before {
  content: '\f0c5';
}
.fa-paperclip:before {
  content: '\f0c6';
}
.fa-floppy-o:before,
.fa-save:before {
  content: '\f0c7';
}
.fa-square:before {
  content: '\f0c8';
}
.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
  content: '\f0c9';
}
.fa-list-ul:before {
  content: '\f0ca';
}
.fa-list-ol:before {
  content: '\f0cb';
}
.fa-strikethrough:before {
  content: '\f0cc';
}
.fa-underline:before {
  content: '\f0cd';
}
.fa-table:before {
  content: '\f0ce';
}
.fa-magic:before {
  content: '\f0d0';
}
.fa-truck:before {
  content: '\f0d1';
}
.fa-pinterest:before {
  content: '\f0d2';
}
.fa-pinterest-square:before {
  content: '\f0d3';
}
.fa-google-plus-square:before {
  content: '\f0d4';
}
.fa-google-plus:before {
  content: '\f0d5';
}
.fa-money:before {
  content: '\f0d6';
}
.fa-caret-down:before {
  content: '\f0d7';
}
.fa-caret-up:before {
  content: '\f0d8';
}
.fa-caret-left:before {
  content: '\f0d9';
}
.fa-caret-right:before {
  content: '\f0da';
}
.fa-columns:before {
  content: '\f0db';
}
.fa-sort:before,
.fa-unsorted:before {
  content: '\f0dc';
}
.fa-sort-desc:before,
.fa-sort-down:before {
  content: '\f0dd';
}
.fa-sort-asc:before,
.fa-sort-up:before {
  content: '\f0de';
}
.fa-envelope:before {
  content: '\f0e0';
}
.fa-linkedin:before {
  content: '\f0e1';
}
.fa-rotate-left:before,
.fa-undo:before {
  content: '\f0e2';
}
.fa-gavel:before,
.fa-legal:before {
  content: '\f0e3';
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: '\f0e4';
}
.fa-comment-o:before {
  content: '\f0e5';
}
.fa-comments-o:before {
  content: '\f0e6';
}
.fa-bolt:before,
.fa-flash:before {
  content: '\f0e7';
}
.fa-sitemap:before {
  content: '\f0e8';
}
.fa-umbrella:before {
  content: '\f0e9';
}
.fa-clipboard:before,
.fa-paste:before {
  content: '\f0ea';
}
.fa-lightbulb-o:before {
  content: '\f0eb';
}
.fa-exchange:before {
  content: '\f0ec';
}
.fa-cloud-download:before {
  content: '\f0ed';
}
.fa-cloud-upload:before {
  content: '\f0ee';
}
.fa-user-md:before {
  content: '\f0f0';
}
.fa-stethoscope:before {
  content: '\f0f1';
}
.fa-suitcase:before {
  content: '\f0f2';
}
.fa-bell-o:before {
  content: '\f0a2';
}
.fa-coffee:before {
  content: '\f0f4';
}
.fa-cutlery:before {
  content: '\f0f5';
}
.fa-file-text-o:before {
  content: '\f0f6';
}
.fa-building-o:before {
  content: '\f0f7';
}
.fa-hospital-o:before {
  content: '\f0f8';
}
.fa-ambulance:before {
  content: '\f0f9';
}
.fa-medkit:before {
  content: '\f0fa';
}
.fa-fighter-jet:before {
  content: '\f0fb';
}
.fa-beer:before {
  content: '\f0fc';
}
.fa-h-square:before {
  content: '\f0fd';
}
.fa-plus-square:before {
  content: '\f0fe';
}
.fa-angle-double-left:before {
  content: '\f100';
}
.fa-angle-double-right:before {
  content: '\f101';
}
.fa-angle-double-up:before {
  content: '\f102';
}
.fa-angle-double-down:before {
  content: '\f103';
}
.fa-angle-left:before {
  content: '\f104';
}
.fa-angle-right:before {
  content: '\f105';
}
.fa-angle-up:before {
  content: '\f106';
}
.fa-angle-down:before {
  content: '\f107';
}
.fa-desktop:before {
  content: '\f108';
}
.fa-laptop:before {
  content: '\f109';
}
.fa-tablet:before {
  content: '\f10a';
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: '\f10b';
}
.fa-circle-o:before {
  content: '\f10c';
}
.fa-quote-left:before {
  content: '\f10d';
}
.fa-quote-right:before {
  content: '\f10e';
}
.fa-spinner:before {
  content: '\f110';
}
.fa-circle:before {
  content: '\f111';
}
.fa-mail-reply:before,
.fa-reply:before {
  content: '\f112';
}
.fa-github-alt:before {
  content: '\f113';
}
.fa-folder-o:before {
  content: '\f114';
}
.fa-folder-open-o:before {
  content: '\f115';
}
.fa-smile-o:before {
  content: '\f118';
}
.fa-frown-o:before {
  content: '\f119';
}
.fa-meh-o:before {
  content: '\f11a';
}
.fa-gamepad:before {
  content: '\f11b';
}
.fa-keyboard-o:before {
  content: '\f11c';
}
.fa-flag-o:before {
  content: '\f11d';
}
.fa-flag-checkered:before {
  content: '\f11e';
}
.fa-terminal:before {
  content: '\f120';
}
.fa-code:before {
  content: '\f121';
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: '\f122';
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: '\f123';
}
.fa-location-arrow:before {
  content: '\f124';
}
.fa-crop:before {
  content: '\f125';
}
.fa-code-fork:before {
  content: '\f126';
}
.fa-chain-broken:before,
.fa-unlink:before {
  content: '\f127';
}
.fa-question:before {
  content: '\f128';
}
.fa-info:before {
  content: '\f129';
}
.fa-exclamation:before {
  content: '\f12a';
}
.fa-superscript:before {
  content: '\f12b';
}
.fa-subscript:before {
  content: '\f12c';
}
.fa-eraser:before {
  content: '\f12d';
}
.fa-puzzle-piece:before {
  content: '\f12e';
}
.fa-microphone:before {
  content: '\f130';
}
.fa-microphone-slash:before {
  content: '\f131';
}
.fa-shield:before {
  content: '\f132';
}
.fa-calendar-o:before {
  content: '\f133';
}
.fa-fire-extinguisher:before {
  content: '\f134';
}
.fa-rocket:before {
  content: '\f135';
}
.fa-maxcdn:before {
  content: '\f136';
}
.fa-chevron-circle-left:before {
  content: '\f137';
}
.fa-chevron-circle-right:before {
  content: '\f138';
}
.fa-chevron-circle-up:before {
  content: '\f139';
}
.fa-chevron-circle-down:before {
  content: '\f13a';
}
.fa-html5:before {
  content: '\f13b';
}
.fa-css3:before {
  content: '\f13c';
}
.fa-anchor:before {
  content: '\f13d';
}
.fa-unlock-alt:before {
  content: '\f13e';
}
.fa-bullseye:before {
  content: '\f140';
}
.fa-ellipsis-h:before {
  content: '\f141';
}
.fa-ellipsis-v:before {
  content: '\f142';
}
.fa-rss-square:before {
  content: '\f143';
}
.fa-play-circle:before {
  content: '\f144';
}
.fa-ticket:before {
  content: '\f145';
}
.fa-minus-square:before {
  content: '\f146';
}
.fa-minus-square-o:before {
  content: '\f147';
}
.fa-level-up:before {
  content: '\f148';
}
.fa-level-down:before {
  content: '\f149';
}
.fa-check-square:before {
  content: '\f14a';
}
.fa-pencil-square:before {
  content: '\f14b';
}
.fa-external-link-square:before {
  content: '\f14c';
}
.fa-share-square:before {
  content: '\f14d';
}
.fa-compass:before {
  content: '\f14e';
}
.fa-caret-square-o-down:before,
.fa-toggle-down:before {
  content: '\f150';
}
.fa-caret-square-o-up:before,
.fa-toggle-up:before {
  content: '\f151';
}
.fa-caret-square-o-right:before,
.fa-toggle-right:before {
  content: '\f152';
}
.fa-eur:before,
.fa-euro:before {
  content: '\f153';
}
.fa-gbp:before {
  content: '\f154';
}
.fa-dollar:before,
.fa-usd:before {
  content: '\f155';
}
.fa-inr:before,
.fa-rupee:before {
  content: '\f156';
}
.fa-cny:before,
.fa-jpy:before,
.fa-rmb:before,
.fa-yen:before {
  content: '\f157';
}
.fa-rouble:before,
.fa-rub:before,
.fa-ruble:before {
  content: '\f158';
}
.fa-krw:before,
.fa-won:before {
  content: '\f159';
}
.fa-bitcoin:before,
.fa-btc:before {
  content: '\f15a';
}
.fa-file:before {
  content: '\f15b';
}
.fa-file-text:before {
  content: '\f15c';
}
.fa-sort-alpha-asc:before {
  content: '\f15d';
}
.fa-sort-alpha-desc:before {
  content: '\f15e';
}
.fa-sort-amount-asc:before {
  content: '\f160';
}
.fa-sort-amount-desc:before {
  content: '\f161';
}
.fa-sort-numeric-asc:before {
  content: '\f162';
}
.fa-sort-numeric-desc:before {
  content: '\f163';
}
.fa-thumbs-up:before {
  content: '\f164';
}
.fa-thumbs-down:before {
  content: '\f165';
}
.fa-youtube-square:before {
  content: '\f166';
}
.fa-youtube:before {
  content: '\f167';
}
.fa-xing:before {
  content: '\f168';
}
.fa-xing-square:before {
  content: '\f169';
}
.fa-youtube-play:before {
  content: '\f16a';
}
.fa-dropbox:before {
  content: '\f16b';
}
.fa-stack-overflow:before {
  content: '\f16c';
}
.fa-instagram:before {
  content: '\f16d';
}
.fa-flickr:before {
  content: '\f16e';
}
.fa-adn:before {
  content: '\f170';
}
.fa-bitbucket:before {
  content: '\f171';
}
.fa-bitbucket-square:before {
  content: '\f172';
}
.fa-tumblr:before {
  content: '\f173';
}
.fa-tumblr-square:before {
  content: '\f174';
}
.fa-long-arrow-down:before {
  content: '\f175';
}
.fa-long-arrow-up:before {
  content: '\f176';
}
.fa-long-arrow-left:before {
  content: '\f177';
}
.fa-long-arrow-right:before {
  content: '\f178';
}
.fa-apple:before {
  content: '\f179';
}
.fa-windows:before {
  content: '\f17a';
}
.fa-android:before {
  content: '\f17b';
}
.fa-linux:before {
  content: '\f17c';
}
.fa-dribbble:before {
  content: '\f17d';
}
.fa-skype:before {
  content: '\f17e';
}
.fa-foursquare:before {
  content: '\f180';
}
.fa-trello:before {
  content: '\f181';
}
.fa-female:before {
  content: '\f182';
}
.fa-male:before {
  content: '\f183';
}
.fa-gittip:before {
  content: '\f184';
}
.fa-sun-o:before {
  content: '\f185';
}
.fa-moon-o:before {
  content: '\f186';
}
.fa-archive:before {
  content: '\f187';
}
.fa-bug:before {
  content: '\f188';
}
.fa-vk:before {
  content: '\f189';
}
.fa-weibo:before {
  content: '\f18a';
}
.fa-renren:before {
  content: '\f18b';
}
.fa-pagelines:before {
  content: '\f18c';
}
.fa-stack-exchange:before {
  content: '\f18d';
}
.fa-arrow-circle-o-right:before {
  content: '\f18e';
}
.fa-arrow-circle-o-left:before {
  content: '\f190';
}
.fa-caret-square-o-left:before,
.fa-toggle-left:before {
  content: '\f191';
}
.fa-dot-circle-o:before {
  content: '\f192';
}
.fa-wheelchair:before {
  content: '\f193';
}
.fa-vimeo-square:before {
  content: '\f194';
}
.fa-try:before,
.fa-turkish-lira:before {
  content: '\f195';
}
.fa-plus-square-o:before {
  content: '\f196';
}
.fa-space-shuttle:before {
  content: '\f197';
}
.fa-slack:before {
  content: '\f198';
}
.fa-envelope-square:before {
  content: '\f199';
}
.fa-wordpress:before {
  content: '\f19a';
}
.fa-openid:before {
  content: '\f19b';
}
.fa-bank:before,
.fa-institution:before,
.fa-university:before {
  content: '\f19c';
}
.fa-graduation-cap:before,
.fa-mortar-board:before {
  content: '\f19d';
}
.fa-yahoo:before {
  content: '\f19e';
}
.fa-google:before {
  content: '\f1a0';
}
.fa-reddit:before {
  content: '\f1a1';
}
.fa-reddit-square:before {
  content: '\f1a2';
}
.fa-stumbleupon-circle:before {
  content: '\f1a3';
}
.fa-stumbleupon:before {
  content: '\f1a4';
}
.fa-delicious:before {
  content: '\f1a5';
}
.fa-digg:before {
  content: '\f1a6';
}
.fa-pied-piper:before {
  content: '\f1a7';
}
.fa-pied-piper-alt:before {
  content: '\f1a8';
}
.fa-drupal:before {
  content: '\f1a9';
}
.fa-joomla:before {
  content: '\f1aa';
}
.fa-language:before {
  content: '\f1ab';
}
.fa-fax:before {
  content: '\f1ac';
}
.fa-building:before {
  content: '\f1ad';
}
.fa-child:before {
  content: '\f1ae';
}
.fa-paw:before {
  content: '\f1b0';
}
.fa-spoon:before {
  content: '\f1b1';
}
.fa-cube:before {
  content: '\f1b2';
}
.fa-cubes:before {
  content: '\f1b3';
}
.fa-behance:before {
  content: '\f1b4';
}
.fa-behance-square:before {
  content: '\f1b5';
}
.fa-steam:before {
  content: '\f1b6';
}
.fa-steam-square:before {
  content: '\f1b7';
}
.fa-recycle:before {
  content: '\f1b8';
}
.fa-automobile:before,
.fa-car:before {
  content: '\f1b9';
}
.fa-cab:before,
.fa-taxi:before {
  content: '\f1ba';
}
.fa-tree:before {
  content: '\f1bb';
}
.fa-spotify:before {
  content: '\f1bc';
}
.fa-deviantart:before {
  content: '\f1bd';
}
.fa-soundcloud:before {
  content: '\f1be';
}
.fa-database:before {
  content: '\f1c0';
}
.fa-file-pdf-o:before {
  content: '\f1c1';
}
.fa-file-word-o:before {
  content: '\f1c2';
}
.fa-file-excel-o:before {
  content: '\f1c3';
}
.fa-file-powerpoint-o:before {
  content: '\f1c4';
}
.fa-file-image-o:before,
.fa-file-photo-o:before,
.fa-file-picture-o:before {
  content: '\f1c5';
}
.fa-file-archive-o:before,
.fa-file-zip-o:before {
  content: '\f1c6';
}
.fa-file-audio-o:before,
.fa-file-sound-o:before {
  content: '\f1c7';
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: '\f1c8';
}
.fa-file-code-o:before {
  content: '\f1c9';
}
.fa-vine:before {
  content: '\f1ca';
}
.fa-codepen:before {
  content: '\f1cb';
}
.fa-jsfiddle:before {
  content: '\f1cc';
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-ring:before,
.fa-life-saver:before,
.fa-support:before {
  content: '\f1cd';
}
.fa-circle-o-notch:before {
  content: '\f1ce';
}
.fa-ra:before,
.fa-rebel:before {
  content: '\f1d0';
}
.fa-empire:before,
.fa-ge:before {
  content: '\f1d1';
}
.fa-git-square:before {
  content: '\f1d2';
}
.fa-git:before {
  content: '\f1d3';
}
.fa-hacker-news:before {
  content: '\f1d4';
}
.fa-tencent-weibo:before {
  content: '\f1d5';
}
.fa-qq:before {
  content: '\f1d6';
}
.fa-wechat:before,
.fa-weixin:before {
  content: '\f1d7';
}
.fa-paper-plane:before,
.fa-send:before {
  content: '\f1d8';
}
.fa-paper-plane-o:before,
.fa-send-o:before {
  content: '\f1d9';
}
.fa-history:before {
  content: '\f1da';
}
.fa-circle-thin:before {
  content: '\f1db';
}
.fa-header:before {
  content: '\f1dc';
}
.fa-paragraph:before {
  content: '\f1dd';
}
.fa-sliders:before {
  content: '\f1de';
}
.fa-share-alt:before {
  content: '\f1e0';
}
.fa-share-alt-square:before {
  content: '\f1e1';
}
.fa-bomb:before {
  content: '\f1e2';
}
.fa-futbol-o:before,
.fa-soccer-ball-o:before {
  content: '\f1e3';
}
.fa-tty:before {
  content: '\f1e4';
}
.fa-binoculars:before {
  content: '\f1e5';
}
.fa-plug:before {
  content: '\f1e6';
}
.fa-slideshare:before {
  content: '\f1e7';
}
.fa-twitch:before {
  content: '\f1e8';
}
.fa-yelp:before {
  content: '\f1e9';
}
.fa-newspaper-o:before {
  content: '\f1ea';
}
.fa-wifi:before {
  content: '\f1eb';
}
.fa-calculator:before {
  content: '\f1ec';
}
.fa-paypal:before {
  content: '\f1ed';
}
.fa-google-wallet:before {
  content: '\f1ee';
}
.fa-cc-visa:before {
  content: '\f1f0';
}
.fa-cc-mastercard:before {
  content: '\f1f1';
}
.fa-cc-discover:before {
  content: '\f1f2';
}
.fa-cc-amex:before {
  content: '\f1f3';
}
.fa-cc-paypal:before {
  content: '\f1f4';
}
.fa-cc-stripe:before {
  content: '\f1f5';
}
.fa-bell-slash:before {
  content: '\f1f6';
}
.fa-bell-slash-o:before {
  content: '\f1f7';
}
.fa-trash:before {
  content: '\f1f8';
}
.fa-copyright:before {
  content: '\f1f9';
}
.fa-at:before {
  content: '\f1fa';
}
.fa-eyedropper:before {
  content: '\f1fb';
}
.fa-paint-brush:before {
  content: '\f1fc';
}
.fa-birthday-cake:before {
  content: '\f1fd';
}
.fa-area-chart:before {
  content: '\f1fe';
}
.fa-pie-chart:before {
  content: '\f200';
}
.fa-line-chart:before {
  content: '\f201';
}
.fa-lastfm:before {
  content: '\f202';
}
.fa-lastfm-square:before {
  content: '\f203';
}
.fa-toggle-off:before {
  content: '\f204';
}
.fa-toggle-on:before {
  content: '\f205';
}
.fa-bicycle:before {
  content: '\f206';
}
.fa-bus:before {
  content: '\f207';
}
.fa-ioxhost:before {
  content: '\f208';
}
.fa-angellist:before {
  content: '\f209';
}
.fa-cc:before {
  content: '\f20a';
}
.fa-ils:before,
.fa-shekel:before,
.fa-sheqel:before {
  content: '\f20b';
}
.fa-meanpath:before {
  content: '\f20c';
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: 0 0;
  color: inherit;
}
a:active,
a:hover {
  outline: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
optgroup,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
pre,
textarea {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cs,
.highlight .ge {
  font-style: italic;
}
.highlight .cp,
.highlight .cs,
.highlight .gs,
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nc,
.highlight .o,
.highlight .ow {
  font-weight: 700;
}
button {
  overflow: visible;
}
.dl-vertical,
.site-sidebar {
  overflow: hidden;
}
button,
select {
  text-transform: none;
}
.main-navigation,
.person .person-content .person-title,
.site-sidebar .block .block-title,
h1,
h2,
h5 {
  text-transform: uppercase;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
.tech-icon-angular,
.tech-icon-chef,
.tech-icon-cordova,
.tech-icon-doctrine,
.tech-icon-elasticsearch,
.tech-icon-php,
.tech-icon-rails,
.tech-icon-redis,
.tech-icon-symfony,
.tech-icon-websockets,
.tech-icon-wordpress {
  width: 35px;
  height: 32px;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.highlight {
  background: #fff;
}
.highlight .c {
  color: #998;
}
.highlight .err {
  color: var(--error-color);
  background-color: #e3d2d2;
}
.highlight .cm {
  color: #998;
}
.highlight .cp {
  color: #999;
}
.highlight .c1 {
  color: #998;
}
.highlight .cs {
  color: #999;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kt {
  color: #458;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: teal;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
}
.highlight .no {
  color: teal;
}
.highlight .ni {
  color: purple;
}
.highlight .ne,
.highlight .nf {
  color: #900;
  font-weight: 700;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: teal;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #099;
}
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: teal;
}
.highlight .il {
  color: #099;
}
.tech-icon-angular {
  /* background: url(../images/tech-icons.03c20ccf.png) no-repeat; */
}
.tech-icon-chef {
  /* background: url(../images/tech-icons.03c20ccf.png) -35px 0 no-repeat; */
}
.tech-icon-cordova {
  /* background: url(../images/tech-icons.03c20ccf.png) -70px 0 no-repeat; */
}
.tech-icon-doctrine {
  /* background: url(../images/tech-icons.03c20ccf.png) -105px 0 no-repeat; */
}
.tech-icon-elasticsearch {
  /* background: url(../images/tech-icons.03c20ccf.png) -140px 0 no-repeat; */
}
.tech-icon-ionic {
  width: 35px;
  height: 32px;
  /* background: url(../images/tech-icons.03c20ccf.png) -175px 0 no-repeat; */
}
.tech-icon-php {
  /* background: url(../images/tech-icons.03c20ccf.png) -210px 0 no-repeat; */
}
.tech-icon-rails {
  /* background: url(../images/tech-icons.03c20ccf.png) -245px 0 no-repeat; */
}
.tech-icon-redis {
  /* background: url(../images/tech-icons.03c20ccf.png) -280px 0 no-repeat; */
}
.tech-icon-symfony {
  /* background: url(../images/tech-icons.03c20ccf.png) -315px 0 no-repeat; */
}
.tech-icon-websockets {
  /* background: url(../images/tech-icons.03c20ccf.png) -350px 0 no-repeat; */
}
.tech-icon-wordpress {
  /* background: url(../images/tech-icons.03c20ccf.png) -385px 0 no-repeat; */
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font: 16px/1.6 Roboto, Helvetica, sans-serif;
  font-weight: 300;
}
.button.button-red,
.home-section,
.person,
.project-subtitle,
.project-title,
h1,
h2 {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
::-moz-selection {
  color: #fff;
  background: var(--btn-selection-color);
}
::selection {
  color: #fff;
  background: var(--btn-selection-color);
}
.red,
a {
  color: var(--main-color);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 14px;
  font-weight: 300;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: 500;
}
hr {
  box-sizing: content-box;
  margin: 30px 0;
  height: 1px;
  width: 100%;
  background: #ddd;
  border: none;
}
.dl-vertical dt {
  display: block;
  clear: both;
  width: 150px;
}
.dl-vertical dd {
  display: block;
  margin: 0;
}
.dl-vertical.dl-long dt {
  width: 350px;
}
.gray {
  color: #999;
}
.nocolor,
a.nocolor,
a.nostyle {
  color: inherit;
}
a.nostyle {
  text-decoration: inherit;
}
.cv-tech-tags a:hover,
.main-navigation a,
.person,
.person:hover,
.portfolio-timeline .project-link,
.site-sidebar .posts-list a {
  text-decoration: none;
}
@media screen and (min-width: 451px) {
  .visible-xxs {
    display: none;
  }
}
@media (max-width: 450px), (min-width: 568px) {
  .visible-xs {
    display: none;
  }
}
@media (max-width: 567px), (min-width: 768px) {
  .visible-sm {
    display: none;
  }
}
@media (max-width: 767px), (min-width: 1001px) {
  .visible-md {
    display: none;
  }
}
@media (max-width: 1000px), (min-width: 1366px) {
  .visible-lg {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  .visible-xlg {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .hidden-xxs {
    display: none;
  }
}
@media screen and (max-width: 568px) and (min-width: 451px) {
  .hidden-xs {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 568px) {
  .hidden-sm {
    display: none;
  }
}
@media screen and (max-width: 1001px) and (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1001px) {
  .hidden-lg {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .hidden-xlg {
    display: none;
  }
}
.button,
.icon,
.tech-icon {
  display: inline-block;
}
blockquote {
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ddd;
}
.icon {
  width: 1em;
  margin-right: 0.2em;
}
.button {
  padding: 0.4em 0.8em;
  line-height: 1;
  margin-right: 1em;
}
.button.button-outline {
  border-width: 1px;
  border-style: solid;
}
.button.button-white {
  color: #fff;
}
.button.button-inline {
  padding: 0;
  margin-right: 0.3em;
}
.button.button-icon {
  padding: 0;
  margin-right: 0.2em;
}
.button.button-red {
  background-color: var(--btn-red-bg);
  border: 1px solid var(--btn-red-border);
  color: #fff;
  padding: 0.7em 1.2em;
  font-weight: 400;
}
.button.button-red:focus,
.button.button-red:hover {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.button:not(.button-icon) .fa,
.button:not(.button-icon) .icon {
  padding-right: 0.3em;
}
.block-title a,
.social-icons.social-icons a {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}
.block-title a:hover,
.social-icons.social-icons a:hover {
  color: #fff;
}
body {
  background: #f6f6f6;
}
@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }
}
.site-sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: left;
  background-color: var(--sidebar-bg);
}
@media screen and (max-width: 1000px) {
  .site-sidebar {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .site-sidebar:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -50px;
    content: ' ';
    display: block;
    width: auto;
    height: 850px;
  }
  .parent-home .site-sidebar:before {
    display: none;
  }
}
.site-sidebar .site-sidebar-inner {
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 45px 40px;
}
.site-sidebar .site-sidebar-inner::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1000px) {
  .site-sidebar .site-sidebar-inner {
    overflow: initial;
    height: auto;
    padding: 0 40px;
  }
}
.cv-header-meta,
.cv-section,
.cv-timeline-row,
.home-section .home-buttons,
.post .post-meta,
.row,
.tech-icons li,
.tech-tags li,
.timeline_element,
.timeline_element-contents {
  overflow: hidden;
}
.site-sidebar .block + .block {
  margin-top: 45px;
}
.site-sidebar .block .block-title {
  font-size: 11px;
  font-weight: 300;
  color: #aaa;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}
.site-sidebar .block-social {
  font-size: 22px;
}
html:not(.platform-mac) .site-sidebar .block-blog {
  display: none;
}
.person,
.site-sidebar .posts-list > li {
  display: block;
}
.site-sidebar .posts-list,
.site-sidebar .posts-list > li {
  margin: 0;
  padding: 0;
}
.site-sidebar .posts-list li {
  margin: 15px 0;
}
.site-sidebar .posts-list a:focus .post-title,
.site-sidebar .posts-list a:hover .post-title {
  color: #fff;
}
.site-sidebar .posts-list .post-title {
  font-size: 14px;
  font-weight: 300;
  color: #ccc;
  color: rgba(255, 255, 255, 0.6);
}
.site-sidebar .posts-list .post-date {
  color: #aaa;
  color: rgba(204, 204, 204, 0.7);
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
}
.person {
  color: inherit;
}
.site-sidebar .person {
  text-align: center;
}
.person .person-avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}
.person .person-avatar .avatar {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.person .person-content {
  margin-left: -40px;
  margin-right: -40px;
}
.person .person-content .person-title {
  font-size: 22px;
  font-weight: 500;
}
.person .person-content .person-subtitle {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.main-navigation {
  margin: 45px -40px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  .person .person-avatar img {
    width: 120px;
    height: 120px;
  }
  .main-navigation {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin: 20px -40px 0;
  }
}
.main-navigation .navigation-extend-bar {
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 0;
  padding: 0 20px;
  display: none;
}
@media screen and (max-width: 1000px) {
  .main-navigation .navigation-extend-bar {
    display: block;
  }
}
.main-navigation .navigation-extend-bar a {
  display: inline-block;
}
.main-navigation .navigation-extend-bar .navigation-extend-button {
  width: 50%;
}
.main-navigation ul,
.main-navigation ul > li {
  margin: 0;
  padding: 0;
}
.main-navigation ul > li {
  display: block;
}
.main-navigation ul + ul {
  margin-top: 30px;
}
.main-navigation ul li {
  position: relative;
  padding: 0 40px;
}
@media screen and (max-width: 1000px) {
  .main-navigation ul + ul {
    margin-top: 0;
  }
  .main-navigation ul li {
    padding: 0 20px;
  }
}
.main-navigation ul li a:hover,
.main-navigation ul li a.current {
  color: #fff;
}
.main-navigation a {
  color: #ccc;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
.main-navigation a:hover {
  color: #fff;
}
@media screen and (min-width: 1001px) {
  .main-navigation ul li.current:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 8px solid #fff;
    bottom: 6px;
    left: auto;
    right: 0;
  }
  .main-navigation .current:after,
  .main-navigation a:hover:after {
    content: ' \f105 ';
    padding-left: 3px;
    font-family: FontAwesome;
  }
}
.site-main {
  margin-left: 25%;
}
.site-main:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  content: ' ';
  display: block;
  width: 25%;
  /* background: url(../images/home-bg3.ef171b05.jpg) top center no-repeat #bababa; */
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  .main-navigation .navigation-extendable {
    height: 0;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  .main-navigation.extended .navigation-extendable {
    height: 300px;
  }
  .site-main {
    margin-left: 0;
  }
  .site-main:before {
    display: none;
  }
  .parent-home .site-main:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    background-position: right top;
  }
}
.site-main .site-main-inner,
.timeline_element {
  position: relative;
}
.main-section {
  max-width: 850px;
  padding: 50px;
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 1000px) {
  .main-section {
    padding: 30px 20px;
    margin: 0 auto;
  }
  .block-blog,
  .block-social {
    display: none;
  }
}
.main-title {
  line-height: 1;
  margin-bottom: 15px;
  color: #555;
}
.timeline {
  font-size: 16px;
  margin-left: -50px;
}
@media screen and (max-width: 1000px) {
  .timeline {
    margin-left: 0;
  }
}
.timeline > ul,
.timeline > ul > li {
  margin: 0;
  padding: 0;
}
.timeline > ul > li {
  display: block;
}
@media screen and (max-width: 567px) {
  .timeline_element {
    border-top: 1px solid #ddd;
    padding-top: 15px !important;
    margin-top: 15px !important;
  }
  .timeline_element-date {
    color: #999;
  }
}
@media screen and (min-width: 568px) {
  .timeline_element-date {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 130px;
    padding: 30px 15px;
    color: #999;
    text-align: right;
    font-style: italic;
    line-height: 30px;
    border-right: 1px solid #ddd;
  }
  .timeline_element-date:after {
    content: ' ';
    position: absolute;
    top: 42.5px;
    right: -2.5px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--point-color);
  }
  .timeline_element:first-child .timeline_element-date {
    padding-top: 0;
    line-height: 1.5;
    margin-top: 10px;
  }
  .timeline_element:first-child
    .timeline_element-date
    .timeline_element-date-text {
    margin-top: -10px;
    display: block;
  }
  .timeline_element:first-child .timeline_element-date:after {
    top: 0;
  }
}
.timeline_element-contents {
  padding: 30px 0;
  margin-left: 160px;
}
@media screen and (max-width: 567px) {
  .timeline_element-contents {
    margin-left: 0;
    padding: 15px 0 0;
  }
  .timeline.talks-timeline .timeline_element {
    border-top: 1px solid #ddd;
  }
}
@media screen and (min-width: 568px) {
  .timeline_element + .timeline_element .timeline_element-contents {
    border-top: 1px solid #ddd;
  }
  .timeline.portfolio-timeline
    .timeline_element:first-child
    .timeline_element-contents,
  .timeline_element:first-child .timeline_element-contents {
    padding-top: 0;
  }
  .timeline.portfolio-timeline
    .timeline_element:first-child
    .timeline_element-date {
    padding-top: 0;
    line-height: 1.5;
    margin-top: 10px;
  }
  .timeline.portfolio-timeline
    .timeline_element:first-child
    .timeline_element-date
    .timeline_element-date-text {
    margin-top: -10px;
    display: block;
  }
  .timeline.portfolio-timeline
    .timeline_element:first-child
    .timeline_element-date:after {
    top: 0;
  }
}
.timeline.talks-timeline .timeline_element-date {
  width: 150px;
}
.timeline.talks-timeline .timeline_element-contents {
  margin-left: 180px;
}
@media screen and (max-width: 567px) {
  .timeline.talks-timeline .timeline_element-date {
    display: block;
    width: auto;
    position: static;
    padding: 0;
    border: none;
  }
  .timeline.talks-timeline .timeline_element-date:after {
    display: none;
  }
  .timeline.talks-timeline .timeline_element-contents {
    margin-left: 0;
    border: none;
    padding-top: 0.5em !important;
    padding-bottom: 1em;
  }
}
@-webkit-keyframes fadein {
  0%,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0%,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes slidein {
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 0;
  }
}
.home-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background: url(../images/home-bg3.ef171b05.jpg) top center no-repeat #bababa; */
  background-size: cover;
  color: #fff;
  padding-left: 110px;
  padding-top: 130px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
@media screen and (max-width: 1000px) {
  .home-section {
    position: relative;
    padding: 40px 20px;
    background: 0 0;
    font-size: 10px;
  }
}
.tech-tags a,
.tech-tags a:hover {
  background-color: var(--tag-color);
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .home-section {
    font-size: 8px;
  }
}
@media screen and (max-width: 567px) {
  .home-section {
    font-size: 7px;
  }
}
.home-section .home-section-inner {
  max-width: 840px;
  margin-left: 25%;
}
@media screen and (max-width: 1000px) {
  .home-section .home-section-inner {
    margin: 0;
  }
}
.home-section .home-heading {
  font-size: 4em;
  font-weight: 500;
}
.home-section .home-subheading {
  font-size: 3em;
  font-weight: 300;
  text-transform: none;
}
.home-section .home-subheading strong {
  font-weight: 500;
}
.home-section .home-location {
  font-size: 2em;
  font-weight: 300;
  margin-top: 1.25em;
}
.home-section .home-buttons {
  margin-top: 5.15em;
  font-size: 2em;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@media screen and (max-width: 1000px) {
  .home-section .home-buttons {
    margin-top: 1em;
  }
}
.home-section .home-buttons .button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  opacity: 0.8;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.47);
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .home-section .home-buttons {
    font-size: 18px;
  }
  .home-section .home-buttons .button {
    margin: 1em 0 0;
    float: left;
    clear: both;
  }
}
.home-section .home-buttons .button:active,
.home-section .home-buttons .button:focus,
.home-section .home-buttons .button:hover {
  opacity: 1;
}
.portfolio-section {
  max-width: 1400px;
}
.portfolio-timeline .project-link {
  color: inherit;
}
.portfolio-timeline .project-link:hover {
  color: var(--main-color);
}
.portfolio-timeline .project-text {
  width: 50%;
  float: left;
}
@media screen and (max-width: 1000px) {
  body.parent-home .site-sidebar {
    padding-top: 0;
  }
  body.parent-home .site-sidebar .person {
    display: none;
  }
  body.parent-home .site-sidebar .main-navigation {
    margin-top: 0;
  }
  .portfolio-timeline .project-text {
    width: auto;
    float: none;
  }
}
.portfolio-timeline .timeline_element.timeline_element--now .project-text {
  width: auto;
  float: none;
}
.portfolio-timeline .project-image {
  width: 50%;
  padding-left: 30px;
  text-align: center;
  float: left;
}
@media screen and (max-width: 1000px) {
  .portfolio-timeline .project-image {
    width: auto;
    float: none;
    margin-top: 30px;
    padding-left: 0;
  }
}
.portfolio-timeline .project-image img {
  max-width: 100%;
  max-height: 568px;
}
.portfolio-timeline .project-description:not(:first-child) {
  margin-top: 15px;
}
.portfolio-timeline .project-description:not(:last-child) {
  margin-bottom: 15px;
}
.portfolio-timeline .project-technologies {
  margin-top: 30px;
}
.project-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0.3em;
}
.project-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: none;
}
.technologies-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
  padding-bottom: 0.5em;
}
.tech-icons,
.tech-icons > li,
.tech-tags,
.tech-tags > li {
  margin: 0;
  padding: 0;
}
.tech-icons > li {
  display: block;
}
.tech-icons li {
  display: inline-block;
}
.tech-icons a {
  opacity: 0.9;
}
.tech-icons a:focus,
.tech-icons a:hover {
  opacity: 1;
}
.tech-tags > li {
  display: block;
}
.tech-tags li {
  display: inline-block;
}
.tech-tags a {
  display: inline-block;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  text-transform: uppercase;
}
.project-section {
  max-width: 1400px;
}
.project-section .project-descriptions {
  overflow: hidden;
  margin: 1em 0;
}
.project-section .project-descriptions .project-description {
  position: relative;
}
.project-section .project-descriptions .project-description > p:first-child,
.project-section .project-descriptions .project-description > ul:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .project-section .project-descriptions .project-description {
    width: 50%;
    float: left;
  }
  .project-section .project-descriptions .project-description:first-child {
    padding-right: 20px;
  }
  .project-section
    .project-descriptions
    .project-description
    + .project-description {
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }
}
.project-section
  .project-descriptions
  .project-description
  ul:not(.tech-icons):not(.tech-tags) {
  padding-left: 20px;
}
.project-section .technologies-title {
  margin-top: 2em;
}
.project-section .project-images {
  margin-top: 2em;
  text-align: center;
}
.project-section .project-images img {
  max-width: 100%;
  margin-right: 1em;
  margin-bottom: 1em;
}
.col {
  display: block;
  float: left;
}
.col-4 {
  width: 33.33333%;
}
@media screen and (max-width: 450px) {
  .col-4 {
    width: auto;
    float: none;
  }
  .col-4 + .col-4 {
    margin-top: 2em;
  }
}
.feature {
  color: var(--main-color);
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
}
.feature .feature-number {
  font-size: 48px;
  line-height: 70px;
}
.feature .feature-number img {
  display: block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
}
.feature .feature-description {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.3;
}
.post {
  margin-bottom: 30px;
}
.post .post-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--main-color);
  text-transform: none;
}
.post .post-meta {
  font-size: 15px;
  color: #555;
}
.post .post-meta.post-meta-top {
  color: #999;
}
.post .post-meta .post-meta-left {
  float: left;
}
.post .post-meta .post-meta-right {
  float: right;
}
.post .post-meta a {
  color: inherit;
}
.post .post-date {
  font-style: italic;
}
.post .comment-link {
  color: var(--main-color);
}
.timeline.talks-timeline .talk-title {
  margin-top: -0.25em;
}
.timeline.talks-timeline .talk-buttons .button {
  margin-top: 1em;
}
.timeline.talks-timeline .talk-image img {
  max-width: 100%;
}
body.cv {
  font-family: Roboto, Helvetica, sans-serif;
  color: #000;
  background-color: #c1c1c1;
  font-size: 14px;
  line-height: 1.5;
}
.cv-page {
  width: 920px;
  padding: 80px 80px 60px;
  margin: 80px auto;
  background-color: #fff;
  box-shadow: 2px 2px 1px #606060;
}
@media print {
  body.cv {
    background-color: #fff;
  }
  .cv-page {
    padding: 40px 80px;
    box-shadow: none;
  }
}
.cv-header {
  display: -webkit-box;
  display: flex;
}
.cv-header-avatar {
  float: left;
}
.cv-header-avatar img {
  border-radius: 2px;
  height: 150px;
}
@media screen and (max-width: 1000px) {
  .cv-page {
    width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  .cv-header {
    display: block;
    text-align: center;
  }
  .cv-header-avatar {
    float: none;
    margin-bottom: 15px;
  }
  .cv-header-avatar img {
    border-radius: 6px;
  }
}
.cv-header-text {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 0 15px;
}
.cv-header-name {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 5px;
  color: var(--main-color);
}
.cv-header-subname {
  display: block;
  text-transform: none;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #777;
}
.cv-header-meta {
  font-size: 14px;
  color: #777;
  white-space: nowrap;
}
.cv-header-meta-left {
  float: left;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .cv-header-text {
    padding: 0;
  }
  .cv-header-meta {
    white-space: normal;
    margin-top: 5px;
  }
  .cv-header-meta-left {
    float: none;
    text-align: center;
  }
}
.cv-header-meta-right {
  float: right;
  border-left: 1px solid #e0e0e0;
  padding-left: 15px;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .cv-header-meta-right {
    float: none;
    padding: 0;
    text-align: center;
    border-left: none;
  }
  .cv-header-meta-row {
    display: inline;
  }
  .cv-header-meta-row + .cv-header-meta-row:before {
    content: ' / ';
  }
}
.cv-section + .cv-section {
  margin-top: 1.5em;
}
.cv-section-title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 300;
  padding-left: 21.5%;
  margin-bottom: 15px;
  page-break-after: avoid;
}
.cv-tech-tags a,
.cv-tech-tags a:hover {
  background-color: #e0e0e0;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .cv-section + .cv-section {
    margin-top: 15px;
  }
  .cv-section-title {
    padding-left: 0;
  }
}
.cv-section-content.cv-section-content--indented {
  padding-left: 21.5%;
}
@media screen and (max-width: 767px) {
  .cv-section-content.cv-section-content--indented {
    padding-left: 0;
  }
  .cv-timeline-row + .cv-timeline-row {
    padding-top: 15px;
    border-top: 1px solid #eee;
  }
}
.cv-section-content ol,
.cv-section-content ul:not(.tech-tags) {
  padding-left: 20px;
}
.cv-tech-tags li {
  display: block;
  margin: 4px 4px 0 0;
  float: left;
}
.cv-timeline-row {
  page-break-inside: avoid;
}
.cv-timeline-row + .cv-timeline-row {
  margin-top: 15px;
}
.cv-timeline-side {
  float: left;
  width: 23%;
  text-align: right;
  padding-right: 15px;
  color: #777;
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .cv-timeline-side {
    float: none;
    width: auto;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
  }
}
.cv-timeline-body {
  float: left;
  width: 77%;
}
.cv-timeline-body p,
.cv-timeline-body ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cv-timeline-company {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .cv-timeline-company {
    background-color: #eee;
    padding: 3px 7px;
    margin-bottom: 5px;
    border-radius: 2px;
  }
}
@media print {
  .cv-timeline-company {
    background: 0 0;
    padding: 0;
    font-size: 14px;
    margin-bottom: 0;
  }
}
.cv-timeline-position {
  font-weight: 400;
  font-size: 18px;
  color: #333;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .cv-timeline-body {
    float: none;
    width: auto;
  }
  .cv-timeline-company {
    float: left;
  }
  .cv-timeline-website {
    display: none;
  }
  .cv-timeline-date {
    float: right;
  }
}
.skills{
  margin: 0 auto;
}
.skill{
  float: left;
  padding: 2px 5px;
  margin: 2px;
  background: #fff;
  color: var(--sidebar-bg);
  border-radius: 25px;
}
.skills-content{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}